DISCORD_PUBLIC_KEY=<discord_public_key>
DISCORD_CLIENT_ID=<discord_client_id>
DISCORD_CLIENT_SECRET=<discord_client_secret>
# DISCORD_GUILD_ID=<discord_guild_id>
# DISCORD_SUMMARY_WEBHOOK=<discord_webhook_url>
# DISCORD_MILESTONE_WEBHOOK=<discord_webhook_url>
# WORKER_BASE_URL=<worker_base_url>

STATS_API_ENDPOINT=https://dashboard.jinglejam.co.uk/api/tiltify
# STATS_API_ENDPOINT=https://develop.jingle-jam-tracker.pages.dev/api/tiltify
