name: Deploy

on:
  push:
    branches:
      - production
      - staging

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    environment:
      name: ${{ github.ref_name }}
      url: ${{ github.ref_name == 'production' && 'https://jinglebot.v4.wtf/invite' || 'https://jinglebot-staging.v4.wtf/invite' }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Publish to ${{ github.ref_name }}
        run: npm run publish:${{ github.ref_name }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          DISCORD_CLIENT_ID: ${{ github.ref_name == 'production' && secrets.PRODUCTION_DISCORD_CLIENT_ID || secrets.STAGING_DISCORD_CLIENT_ID }}
          DISCORD_CLIENT_SECRET: ${{ github.ref_name == 'production' && secrets.PRODUCTION_DISCORD_CLIENT_SECRET || secrets.STAGING_DISCORD_CLIENT_SECRET }}
